<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
            <title>The VERA Project</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="http://theveraproject.org/css/styles.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="http://theveraproject.org/css/share_this.css" rel="stylesheet" type="text/css" media="screen" />
        <link rel="shortcut icon" href="http://theveraproject.org/favicon.ico" />
        <link rel="icon" href="http://theveraproject.org/favicon.ico" />
  </head>

  <body>
          <div id="wrapper">
          <div id="header">

          {% url 'veraproject.views.home' as homebutton %}
          <div id="headerLeft"><a href="{{ homebutton }}">{{ homebutton }}><img src="http://theveraproject.org/images/logo.gif" alt="The VERA Project" width="658" height="90" border="0"></a></div>
          

          <div id="headerRight">
               <div id="topbar_search">
          <form method="post" action="http://theveraproject.org/"  >
          <div class='hiddenFields'>
          <input type="hidden" name="ACT" value="19" />
          <input type="hidden" name="XID" value="a40c60aea17cc2c520d2d215039858afb0741f66" />
          <input type="hidden" name="RP" value="search&amp;#47;results" />
          <input type="hidden" name="NRP" value="" />
          <input type="hidden" name="RES" value="" />
          <input type="hidden" name="status" value="" />
          <input type="hidden" name="weblog" value="" />
          <input type="hidden" name="search_in" value="everywhere" />
          <input type="hidden" name="where" value="any" />
          <input type="hidden" name="show_future_entries" value="yes" />
          <input type="hidden" name="site_id" value="1" />
          </div>

             
          			<form class="top-search">
          				<input class="top-search" value="SEARCH" onBlur="if (this.value == ''){this.value = 'SEARCH'; this.style.color='#666666';}" onFocus="if (this.value == 'SEARCH') {this.value = ''; this.style.color='#666666';}" type="text" name="keywords" id="keywords" />
          				<input type="submit" class="search-submit" value="submit" /><br clear="all" />
          			</form>
          </form>
              </div>

          </div>
              <!--begin #nav-->
                            <div id="nav">
                              <ul id="buttons">
                                <li id="button1"><a href="http://theveraproject.org/donate/">donate</a></li>

                                {% url 'veraproject.views.shows' as the_url %}
                                <li id="button2"><a href="{{ the_url }}">{{ the_url }}</a></li>
                              
                                <li id="button3"><a href="http://theveraproject.org/getinvolved/">get involved</a></li>
                                <li id="button4"><a href="http://theveraproject.org/silkscreen/">silkscreen</a></li>
                                <li id="button5"><a href="http://theveraproject.org/audioprogram/">audio program</a></li>
                                <li id="button6"><a href="http://theveraproject.org/artgallery/">art gallery</a></li>
                                <li id="button7"><a href="http://theveraproject.org/classes/">classes</a></li>
                                <li id="button8"><a href="http://theveraproject.org/blog/">blog</a></li>
                                <li id="button9"><a href="http://theveraproject.org/about/">about</a></li>
                                <li id="button10"><a href="http://fnlsm.jwczq.servertrust.com/default.asp" target="_blank">store</a></li>
                                <li id="button11"><a href="http://theveraproject.org/contact/">contact</a></li>
                              </ul>
                            </div>
          <!--/end/ #nav -->
          </div>
          <div id="HomeContent">
          <div><img src="http://theveraproject.org/images/media_home.jpg" alt="The Vera Project" id="HomeMedia" width="900" height="390" /></div>
          <div><img src="http://theveraproject.org/images/divider_horiz.gif" alt="divider" class="divHoriz" width="900" height="2" /></div>

          <div id="HomeLeftCol">
          <img src="http://theveraproject.org/images/title_upcomingShows.gif" alt="Upcoming Shows" class="HomeLeftTitle" width="144" height="12" />
           <ul id="dates" class="dashed">

            {% for show in shows %}
                
            <li><div class="event-date">
             <div class="event-month">{{show.date|date:"M" }}</div>
             <div class="event-day">{{show.date|date:"d" }}</div>														
             <div class="event-info">{{show.name}}
              <a href="{{show.ticketurl}}" target="_blank"><img src="http://theveraproject.org/images/b_tickets.gif" alt="Tickets" width="61" height="16" border="0" /></a></div>
             </div>
            </li>

            {% endfor %}



           </ul>
          </div>




          <div id="HomeMidCol">
            <div class="borders">
              <img src="http://theveraproject.org/images/title_veraProjectBlog.gif" alt="Vera Project Blog" id="blogrollTitle" width="149" height="12" />

                {% for blog in blogs %}


                  <div class="blogEntry">
                    <div class="EntryTitle"><a href={{blog|urlencode}}>{{blog.name}}</a></div>
                    <div class="EntryDate">{{blog.date|date:"SHORT_DATE_FORMAT"}}</div>
                    <p>{{blog.title}}</p>
                    <p>{{blog.content|safe}}</p>
                    <p><img src={{blog.image}}></p>
                    </p> Read the full post <a href="">HERE.</a>
                    <div id="clear"></div>
                  </div>

              {% endfor %}

            </div>
          </div>l
          s




          <div id="HomeRightCol">
            <head>
                <style type="text/css">
                .style1 {
              	  font-family: "Futura LT Medium";
              	  font-size: small; 
                        }
                </style>
            </head>
                <div id="coltitles">calendar</div>
                <a href="http://theveraproject.org/calendar/"><img src="http://theveraproject.org/images/b_calendar.jpg" alt="Calendar" width="200" height="50" border="0" /></a>
                <p class="signupText">Check dates for shows, gallery openings, classes, workshops, meetings, orientations, and silkscreening.</p>
                <div id="coltitles">register for classes</div>
                <a href="http://theveraproject.org/class_registration/" target="_blank"><img src="http://theveraproject.org/images/class_registration_button.gif" alt="Register here for classes!" width="201" height="119" border="0" /></a>
                <p class="signupText">*NEW! Register online for any of our upcoming classes.*</p>
                <br>
                	  <HR WIDTH="75%"> </TD>
                </TR>
                <div id="coltitles">signup</div>
                <a href="http://www.mailermailer.com/x?oid=1002863t" target="_blank"><img src="http://theveraproject.org/images/b_signup.jpg" alt="Newsletter Signup" width="200" height="50" border="0" /></a>
                <p class="signupText">Want to get updates about upcoming Vera concerts? Sign up here for our weekly mailing list.</p>
                <br>
                <br>
                <div id="coltitles">rent vera</div>
                <a href="http://theveraproject.org/about/rentvera/"><img src="http://theveraproject.org/images/rental_button.gif" alt="Host your event at VERA" class="sidebarPromo" width="201" height="119" border="0" /></a>
                <div id="clear"></div>
          </div>


          <div id="clear"></div>
          <!--begin #footer nav-->
                            <div id="footerNav">
                              <ul id="btnsFooter">
                                <li id="btnFooter1"><a href="http://theveraproject.org/donate/">donate</a></li>
                                
                                {% url 'veraproject.views.shows' as the_url %}
                                <li id="button2"><a href="{{ the_url }}">{{ the_url }}</a></li>
                                
                                <li id="btnFooter3"><a href="http://theveraproject.org/getinvolved/">get involved</a></li>
                                <li id="btnFooter4"><a href="http://theveraproject.org/silkscreen/">silkscreen</a></li>
                                <li id="btnFooter5"><a href="http://theveraproject.org/audioprogram/">audio program</a></li>
                                <li id="btnFooter6"><a href="http://theveraproject.org/artgallery/">art gallery</a></li>
                                <li id="btnFooter7"><a href="http://theveraproject.org/classes/">classes</a></li>
                                <li id="btnFooter8"><a href="http://theveraproject.org/blog/">blog</a></li>
                                <li id="btnFooter9"><a href="http://theveraproject.org/about/">about</a></li>
                                <li id="btnFooter10"><a href="http://theveraproject.org/store/">store</a></li>
                                <li id="btnFooter11"><a href="http://theveraproject.org/contact/">contact</a></li>
                              </ul>
                            </div>
          <!--/end/ #footer nav-->
          </div>
          <!--begin #social nav-->
                            <div id="socialNav">
                              <ul id="socIcons">
                                <li id="socIcon1"><a href="https://www.facebook.com/pages/The-Vera-Project/336116096470972" target="_blank">facebook</a></li>
                                <li id="socIcon2"><a href="http://www.myspace.com/veraproject" target="_blank">myspace</a></li>
                                <li id="socIcon3"><a href="http://www.twitter.com/veraproject" target="_blank">twitter</a></li>
                                <li id="socIcon4"><a href="http://www.flickr.com/photos/7747571@N02/" target="_blank">flickr</a></li>
                                <li id="socIcon5"><a href="http://www.youtube.com/user/veraprojectseattle" target="_blank">youtube</a></li>
                              </ul>
                            </div>
          <!--/end/ #social nav -->
          <div id="footAddress">The Vera Project <font color="#f06">&nbsp;&bull;&nbsp;</font> MAILING ADDRESS: 305 Harrison Street <font color="#f06">&nbsp;&bull;&nbsp;</font> Seattle, WA 98109 <font color="#f06">&nbsp;&bull;&nbsp;</font> 206.956.8372 <font color="#f06">&nbsp;&bull;&nbsp;</font> PHYSICAL LOCATION: <a href="http://maps.google.com/maps?q=The+Vera+Project,+warren+ave+n,+Seattle+WA&hl=en&sll=47.6233,-122.35413&sspn=0.020479,0.043645&vpsrc=0&gl=us&hnear=The+Vera+Project,+Warren+Ave+N,+Seattle,+King,+Washington+98109&t=m&z=15" target="_blank">View Map</a>
          </div>
          </div>
          </div>

  </body>
</html>