<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The VERA Project | Shows</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="http://theveraproject.org/css/styles.css" rel="stylesheet" type="text/css" media="screen" />
<link href="http://theveraproject.org/css/share_this.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="shortcut icon" href="http://theveraproject.org/favicon.ico" />
<link rel="icon" href="http://theveraproject.org/favicon.ico" />
</head>
<body>
<div id="wrapper">
<div id="header">

{% url 'veraproject.views.home' as homebutton %}
<div id="headerLeft"><a href="{{ homebutton }}">{{ homebutton }}<img src="http://theveraproject.org/images/logo.gif" alt="The VERA Project" width="658" height="90" border="0"></a></div>

<div id="headerRight">
     <div id="topbar_search">
<form method="post" action="http://theveraproject.org/"  >
<div class='hiddenFields'>
<input type="hidden" name="ACT" value="19" />
<input type="hidden" name="XID" value="16a02473bcf064099b9b625776c4beb280b1afd4" />
<input type="hidden" name="RP" value="search&amp;#47;results" />
<input type="hidden" name="NRP" value="" />
<input type="hidden" name="RES" value="" />
<input type="hidden" name="status" value="" />
<input type="hidden" name="weblog" value="" />
<input type="hidden" name="search_in" value="everywhere" />
<input type="hidden" name="where" value="any" />
<input type="hidden" name="show_future_entries" value="yes" />
<input type="hidden" name="site_id" value="1" />
</div>

   
      <form class="top-search">
        <input class="top-search" value="SEARCH" onBlur="if (this.value == ''){this.value = 'SEARCH'; this.style.color='#666666';}" onFocus="if (this.value == 'SEARCH') {this.value = ''; this.style.color='#666666';}" type="text" name="keywords" id="keywords" />
        <input type="submit" class="search-submit" value="submit" /><br clear="all" />
      </form>
</form>
    </div>

</div>
    <!--begin #nav-->
                  <div id="nav">
                    <ul id="buttons">
                      <li id="button1"><a href="http://theveraproject.org/donate/">donate</a></li>
                      
                      {% url 'veraproject.views.shows' as the_url %}
                      <li id="button2"><a href="{{ the_url }}">{{ the_url }}</a></li>

                      <li id="button3"><a href="http://theveraproject.org/getinvolved/">get involved</a></li>
                      <li id="button4"><a href="http://theveraproject.org/silkscreen/">silkscreen</a></li>
                      <li id="button5"><a href="http://theveraproject.org/audioprogram/">audio program</a></li>
                      <li id="button6"><a href="http://theveraproject.org/artgallery/">art gallery</a></li>
                      <li id="button7"><a href="http://theveraproject.org/classes/">classes</a></li>
                      <li id="button8"><a href="http://theveraproject.org/blog/">blog</a></li>
                      <li id="button9"><a href="http://theveraproject.org/about/">about</a></li>
                      <li id="button10"><a href="http://fnlsm.jwczq.servertrust.com/default.asp" target="_blank">store</a></li>
                      <li id="button11"><a href="http://theveraproject.org/contact/">contact</a></li>
                    </ul>
                  </div>
<!--/end/ #nav -->
</div>

<div id="subNav">
UPCOMING SHOWS
&nbsp;&bull;&nbsp;
<a href="http://theveraproject.org/shows/previews/">PREVIEWS</a>
&nbsp;&bull;&nbsp;
<a href="http://theveraproject.org/shows/reviews/">REVIEWS</a>
&nbsp;&bull;&nbsp;
<a href="http://theveraproject.org/shows/bookinginfo/">BOOKING INFO</a>
&nbsp;&bull;&nbsp;
<a href="http://theveraproject.org/shows/veracityshows/">VERACITY SHOWS</a>
&nbsp;&bull;&nbsp;
<a href="http://theveraproject.org/shows/veracitycommittee/">VERACITY COMMITTEE</a>
</div>

<div id="ShowsContent">
<div><img src="http://theveraproject.org/images/media_shows.jpg" alt="The Vera Project" width="900" height="390" /></div>
<div><img src="http://theveraproject.org/images/divider_horiz.gif" alt="divider" class="divHoriz" width="900" height="2" /></div>



<div id="ShowsLeftCol">
<div class="rightBorder">
<img src="http://theveraproject.org/images/title_upcomingEvents.gif" alt="Upcoming Events" class="HomeLeftTitle" width="144" height="12" />

            {% for show in shows %}
            <div class="showBox-gray">                         
            <div class="show-description">     
            <div style="clear:both">
             <li><div class="event-date">
             <div class="event-month">{{show.date|date:"M" }}</div>
             <div class="event-day">{{show.date|date:"d" }}</div>                          
              <div class="event-info">{{show.name}}
              <a href="{{show.ticketurl}}" target="_blank"><img src="http://theveraproject.org/images/b_tickets.gif" alt="Tickets" width="61" height="16" border="0" /></a></div>
             </div>
             </li>

            </div>
            </div>
            </div>

            {% endfor %}



</div>
</div>








<div id="ShowsRightCol">
<div id="coltitles">signup</div>
<a href="http://www.mailermailer.com/x?oid=1002863t" target="_blank"><img src="http://theveraproject.org/images/b_signup.jpg" alt="Newsletter Signup" width="200" height="50" border="0" /></a>
<p class="signupText">Want to get updates about upcoming Vera concerts? Sign up here for our weekly mailing list.</p>
<br>

<div id="coltitles">calendar</div>
<a href="http://theveraproject.org/calendar/"><img src="http://theveraproject.org/images/b_calendar.jpg" alt="Calendar" width="200" height="50" border="0" /></a>
<p class="signupText">Check dates for shows, gallery openings, classes, workshops, meetings, orientations, and silkscreening.</p>
<br>
<br>







{% for prere in preres %}

<img src="http://theveraproject.org/images/title_showPreRev.gif" alt="Show Previews & Reviews" class="titleRightCol" width="209" height="12" />


<p><a href="http://theveraproject.org/shows/review_detail/foxy_shazam_with_maniac_and_cadaver_dogs_the_vera_project_seattle_41412/">Foxy Shazam with Maniac and Cadaver Dogs @ The Vera Project, Seattle 4/14/12</a><br /><em>Foxy Shazam sells out the Vera Project </em></p>

<p><a href="http://theveraproject.org/shows/review_detail/live_review_stoked_on_chadwick_stokes_and_the_pintos/">Live Review: Stoked on Chadwick Stokes and the Pintos </a><br /><em>Chadwick Stokes and the Pintos at the Vera Project </em></p>

<p><a href="http://theveraproject.org/shows/review_detail/review_twin_sister_ava_luna_lemolo_at_the_vera_project/">Review: Twin Sister, Ava Luna, & Lemolo at The Vera Project</a><br /><em>KEXP review of Lemelo, Ava Luna, Twin Sister Show </em></p>

<p><a href="http://theveraproject.org/shows/review_detail/polica_friday_2_17/">Float Away Friday with Poliça, the Ether Room</a><br /><em>POLIÇA</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/lemelo_show/">Lemelo @ VERA</a><br /><em>2/7</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/review_lemolo_and_ava_luna_at_the_vera_project/">Review: Lemolo and Ava Luna at the Vera Project</a><br /><em>First a note on the Vera Project: the sound was just outstanding. So often the vocals are lost. Not at Vera</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/twin_sister_ava_luna_get_the_groove_going_last_night_at_the_vera_project/">Twin Sister & Ava Luna Get the Groove Going Last Night at the Vera Project</a><br /><em>three new bands put on a great show @ Vera </em></p>

<p><a href="http://theveraproject.org/shows/review_detail/hollow_earth_vera_project_diy_holiday_fair_preview/">Hollow Earth / Vera Project DIY Holiday Fair Tomorrow</a><br /><em>The Stranger</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/shellac_preview/">Shellac at The Vera Project 10/27</a><br /><em>Seattle Show Gal</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/astronautalis_preview/">Preview of Astronautalis</a><br /><em>SEA Live Music</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/olivia_tremor_control_preview/">Olivia Tremor Control Preview</a><br /><em>The Stranger</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/r._stevie_moore_preview1/">R. Stevie Moore Preview</a><br /><em>The Stranger</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/r._stevie_moore_preview/">R. Stevie Moore Preview</a><br /><em>The Stranger</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/chblockparty_day_2_review/">CHBlockParty – Day 2 Review</a><br /><em>Seattle In Hi DEf</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/smooth_sailing_great_falls_android_hero_monogamy_party_preview/">Smooth Sailing, Great Falls, Android Hero, Monogamy Party Preview</a><br /><em>The Stranger</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/hot_bodies_in_motion_preview/">Hot Bodies in Motion Preview</a><br /><em>SSG Music</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/ramona_falls/">Ramona Falls</a><br /><em>Another Rainy Saturday</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/seapony_14_iced_bears_ghost_animal_review/">Seapony, 14 Iced Bears & Ghost Animal Review</a><br /><em>Back Beat Seattle</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/dyme_def_education_benefit/">Dyme Def Education Benefit</a><br /><em>Virtual Sound</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/mt._st._helens_vietnam_band/">Mt. St. Hellens Vietnam Band</a><br /><em>Dead Oceans</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/seapony/">Seapony Preview</a><br /><em>The Finest Kiss</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/folklife_youth_art_show_preview/">Folklife Youth Art show preview</a><br /><em>NW Folklife Festival</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/aqueduct_tea_cozies_seacats_and_elk/">Aqueduct, Tea Cozies, Seacats and Elk </a><br /><em>Virtual Sound</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/14_iced_bears_preview/">14 Iced Bears Preview</a><br /><em>The Stranger</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/tomten_fox_and_the_law_the_turpentines_and_ambulance/">Tomten, Fox and the Law, The Turpentines, and Ambulance</a><br /><em>Virtual Sound</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/joan_of_arc/">Joan of Arc</a><br /><em>Impose Magazine</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/fake_problems_pomegranates_laura_stevenson_and_pretty_old/">Fake Problems, Pomegranates, Laura Stevenson and Pretty Old</a><br /><em>Virtual Sound</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/starfucker_review/">Starfucker</a><br /><em>KEXP</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/titus_andronicus2/">Titus Andronicus</a><br /><em>Music Mind Zone</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/titus_andronicus1/">Titus Andronicus</a><br /><em>Virtual Sound</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/danielson/">Danielson</a><br /><em>Seattle Show Gal</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/craft_spells_the_soft_moon_and_witch_gardens/">Craft Spells, The Soft Moon and Witch Gardens</a><br /><em>The Finest Kiss</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/craft_spells_review/">Craft Spells</a><br /><em>Seattle Weekly</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/casio_kids_light_pollution_einar_stokka_august_20th_2010/">Casio Kids, Light Pollution, Einar Stokka</a><br /><em>from Seattlest</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/deerhoof_w_witch_gardens_the_donkeys_southeast_engine/">Deerhoof w/Witch Gardens, The Donkeys, Southeast Engine</a><br /><em>July 5, 2010</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/washed_out_small_black/">Washed Out & Small Black</a><br /><em>The Stranger Review</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/titus_andronicus/">Titus Andronicus</a><br /><em>Seattle PI Review</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/why/">Why?</a><br /><em>Sound On The Sound Review</em></p>

<p><a href="http://theveraproject.org/shows/review_detail/dan_deacon/">Dan Deacon</a><br /><em>Three Imaginary Girls Review</em></p>

{% endfor %}


<a href="http://theveraproject.org/shows/previews/"><img src="http://theveraproject.org/images/b_previews.gif" alt="Previews" class="inlineBtn" width="92" height="19" border="0" /></a>
<a href="http://theveraproject.org/shows/reviews/"><img src="http://theveraproject.org/images/b_reviews.gif" alt="Reviews" class="inlineBtn" width="84" height="19" border="0" /></a>
<div id="clear"></div>
</div>

<div id="clear"></div>
<!--begin #footer nav-->
                  <div id="footerNav">
                    <ul id="btnsFooter">
                      <li id="btnFooter1"><a href="http://theveraproject.org/donate/">donate</a></li>
                      {% url 'veraproject.views.shows' as the_url %}
                      <li id="button2"><a href="{{ the_url }}">{{ the_url }}</a></li>
                      <li id="btnFooter3"><a href="http://theveraproject.org/getinvolved/">get involved</a></li>
                      <li id="btnFooter4"><a href="http://theveraproject.org/silkscreen/">silkscreen</a></li>
                      <li id="btnFooter5"><a href="http://theveraproject.org/audioprogram/">audio program</a></li>
                      <li id="btnFooter6"><a href="http://theveraproject.org/artgallery/">art gallery</a></li>
                      <li id="btnFooter7"><a href="http://theveraproject.org/classes/">classes</a></li>
                      <li id="btnFooter8"><a href="http://theveraproject.org/blog/">blog</a></li>
                      <li id="btnFooter9"><a href="http://theveraproject.org/about/">about</a></li>
                      <li id="btnFooter10"><a href="http://theveraproject.org/store/">store</a></li>
                      <li id="btnFooter11"><a href="http://theveraproject.org/contact/">contact</a></li>
                    </ul>
                  </div>
<!--/end/ #footer nav -->
</div>
<!--begin #social nav-->
                  <div id="socialNav">
                    <ul id="socIcons">
                      <li id="socIcon1"><a href="https://www.facebook.com/pages/The-Vera-Project/336116096470972" target="_blank">facebook</a></li>
                      <li id="socIcon2"><a href="http://www.myspace.com/veraproject" target="_blank">myspace</a></li>
                      <li id="socIcon3"><a href="http://www.twitter.com/veraproject" target="_blank">twitter</a></li>
                      <li id="socIcon4"><a href="http://www.flickr.com/photos/7747571@N02/" target="_blank">flickr</a></li>
                      <li id="socIcon5"><a href="http://www.youtube.com/user/veraprojectseattle" target="_blank">youtube</a></li>
                    </ul>
                  </div>
<!--/end/ #social nav -->
<div id="footAddress">The Vera Project <font color="#f06">&nbsp;&bull;&nbsp;</font> MAILING ADDRESS: 305 Harrison Street <font color="#f06">&nbsp;&bull;&nbsp;</font> Seattle, WA 98109 <font color="#f06">&nbsp;&bull;&nbsp;</font> 206.956.8372 <font color="#f06">&nbsp;&bull;&nbsp;</font> PHYSICAL LOCATION: <a href="http://maps.google.com/maps?q=The+Vera+Project,+warren+ave+n,+Seattle+WA&hl=en&sll=47.6233,-122.35413&sspn=0.020479,0.043645&vpsrc=0&gl=us&hnear=The+Vera+Project,+Warren+Ave+N,+Seattle,+King,+Washington+98109&t=m&z=15" target="_blank">View Map</a></div>
</div>
</div>

</body>
</html>